{
.appVersion = "3531";
.formatVersion = 3;
classes = (
{
automatic = 1;
code = "A Aacute Acircumflex Adieresis Agrave Aring Atilde AE B C Ccedilla D Eth E Eacute Ecircumflex Edieresis Egrave F G H I Iacute Icircumflex Idieresis Igrave J K L Lslash M N Ntilde O Oacute Ocircumflex Odieresis Ograve Oslash Otilde OE P Thorn Q R S Scaron T U Uacute Ucircumflex Udieresis Ugrave V W X Y Yacute Ydieresis Z Zcaron uni0394 uni03A9";
name = Uppercase;
}
);
customParameters = (
{
name = "Write lastChange";
value = 0;
}
);
date = "2026-08-18 17:03:52 +0000";
familyName = "Garamond No 8 IA";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem latn dflt;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature sups;
feature frac;
feature ordn;
feature pnum;
feature tnum;
feature case;
";
tag = aalt;
},
{
automatic = 1;
code = "lookup ccmp_Other_1 {
	lookupflag 0;
	@Markscomb = [uni0308 uni0307 gravecomb acutecomb uni030B uni0302 uni030C uni0306 uni030A tildecomb uni0304 uni0326 uni0327 uni0328];
	@MarkscombCase = [uni0308.case uni0307.case gravecomb.case acutecomb.case uni030B.case uni0302.case uni030C.case uni0306.case uni030A.case tildecomb.case uni0304.case uni0326.case uni0327.case uni0328.case];
	sub @Markscomb @Markscomb' by @MarkscombCase;
	sub @Uppercase @Markscomb' by @MarkscombCase;
} ccmp_Other_1;

lookup ccmp_Other_2 {
	lookupflag 0;
	sub @Markscomb' @MarkscombCase by @MarkscombCase;
	sub @MarkscombCase @Markscomb' by @MarkscombCase;
} ccmp_Other_2;

lookup ccmp_latn_1 {
	lookupflag 0;
	sub fi by f i;
	sub fl by f l;
} ccmp_latn_1;

script latn;
lookup ccmp_latn_1;
";
tag = ccmp;
},
{
automatic = 1;
code = "sub one by onesuperior;
sub two by twosuperior;
sub three by threesuperior;
";
tag = sups;
},
{
automatic = 1;
code = "sub one slash four by onequarter;
sub one slash two by onehalf;
sub three slash four by threequarters;
";
tag = frac;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;
sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;
";
tag = ordn;
},
{
automatic = 1;
code = "sub zero.tf by zero;
sub one.tf by one;
sub two.tf by two;
sub three.tf by three;
sub four.tf by four;
sub five.tf by five;
sub six.tf by six;
sub seven.tf by seven;
sub eight.tf by eight;
sub nine.tf by nine;
";
tag = pnum;
},
{
automatic = 1;
code = "sub zero by zero.tf;
sub one by one.tf;
sub two by two.tf;
sub three by three.tf;
sub four by four.tf;
sub five by five.tf;
sub six by six.tf;
sub seven by seven.tf;
sub eight by eight.tf;
sub nine by nine.tf;
";
tag = tnum;
},
{
automatic = 1;
code = "sub uni0308 by uni0308.case;
sub uni0307 by uni0307.case;
sub gravecomb by gravecomb.case;
sub acutecomb by acutecomb.case;
sub uni030B by uni030B.case;
sub uni0302 by uni0302.case;
sub uni030C by uni030C.case;
sub uni0306 by uni0306.case;
sub uni030A by uni030A.case;
sub tildecomb by tildecomb.case;
sub uni0304 by uni0304.case;
sub uni0326 by uni0326.case;
sub uni0327 by uni0327.case;
sub uni0328 by uni0328.case;
";
tag = case;
},
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub f i by f_i;
sub f l by f_l;
";
tag = liga;
}
);
fontMaster = (
{
customParameters = (
{
name = hheaLineGap;
value = 10;
},
{
name = hheaAscender;
value = 960;
},
{
name = hheaDescender;
value = -280;
},
{
name = typoAscender;
value = 720;
},
{
name = typoDescender;
value = -280;
},
{
name = typoLineGap;
value = 250;
},
{
name = winAscent;
value = 960;
},
{
name = winDescent;
value = 280;
},
{
name = underlinePosition;
value = -225;
},
{
name = underlineThickness;
value = 50;
},
{
name = strikeoutPosition;
value = 250;
},
{
name = strikeoutSize;
value = 50;
}
);
id = vfbMaster0;
metricValues = (
{
pos = 16;
},
{
pos = 720;
},
{
pos = -280;
},
{
pos = 427;
},
{
pos = 690;
},
{
over = -20;
},
{
over = 21;
pos = 421;
},
{
over = 15;
pos = 661;
},
{
over = 19;
pos = 689;
},
{
over = 10;
pos = 767;
}
);
name = "Regular Italic";
}
);
instances = (
{
instanceInterpolations = {
vfbMaster0 = 1;
};
isItalic = 1;
linkStyle = Light;
name = "Light Italic";
weightClass = 300;
}
);
kerningLTR = {
vfbMaster0 = {
A = {
C = -75;
Ccedilla = -75;
G = -79;
O = -71;
Odieresis = -71;
Q = -72;
T = -79;
U = -87;
Uacute = -87;
Ucircumflex = -87;
Udieresis = -87;
Ugrave = -87;
V = -136;
W = -140;
Y = -68;
a = -12;
b = -34;
c = -41;
ccedilla = -41;
comma = -20;
d = -24;
e = -36;
g = -47;
guillemotleft = -63;
guilsinglleft = -76;
hyphen = -33;
o = -45;
period = -12;
q = -25;
quotedblright = -87;
quoteright = -85;
t = -34;
u = -28;
v = -62;
w = -60;
y = -59;
};
Aacute = {
C = -79;
G = -80;
O = -71;
Q = -72;
T = -79;
U = -86;
V = -136;
W = -140;
Y = -68;
a = -12;
b = -34;
c = -41;
comma = -19;
d = -24;
e = -36;
g = -45;
guillemotleft = -64;
guilsinglleft = -77;
hyphen = -33;
o = -45;
period = -16;
q = -25;
quoteright = -84;
t = -34;
u = -28;
v = -63;
w = -60;
y = -59;
};
Acircumflex = {
C = -75;
G = -79;
O = -71;
Q = -72;
T = -79;
U = -87;
V = -136;
W = -140;
Y = -68;
comma = -20;
period = -12;
};
Adieresis = {
C = -78;
G = -79;
O = -74;
Q = -71;
T = -79;
U = -88;
V = -138;
W = -138;
Y = -68;
a = -12;
b = -34;
c = -42;
comma = -19;
d = -24;
g = -47;
guillemotleft = -63;
guilsinglleft = -76;
hyphen = -33;
o = -46;
period = -14;
q = -25;
quotedblright = -86;
quoteright = -83;
t = -34;
u = -28;
v = -61;
w = -59;
y = -59;
};
Agrave = {
C = -75;
G = -79;
O = -71;
Q = -72;
T = -79;
U = -87;
V = -136;
W = -140;
Y = -68;
comma = -20;
period = -12;
};
Aring = {
C = -75;
G = -80;
O = -71;
Q = -72;
T = -79;
U = -87;
V = -138;
W = -139;
Y = -68;
a = -12;
b = -34;
c = -42;
comma = -20;
d = -24;
e = -36;
g = -48;
guillemotleft = -64;
guilsinglleft = -77;
hyphen = -35;
o = -44;
period = -16;
q = -25;
quotedblright = -87;
quoteright = -85;
t = -34;
u = -28;
v = -62;
w = -60;
y = -59;
};
Atilde = {
C = -79;
G = -80;
O = -71;
Q = -72;
T = -79;
U = -88;
V = -138;
W = -139;
Y = -68;
comma = -22;
period = -18;
};
B = {
A = -17;
AE = -14;
Aacute = -17;
Acircumflex = -17;
Adieresis = -17;
Aring = -17;
Atilde = -17;
O = -7;
OE = -14;
Oacute = -7;
Ocircumflex = -7;
Odieresis = -7;
Ograve = -7;
Oslash = -1;
V = -44;
W = -44;
Y = -21;
};
C = {
A = 16;
AE = 20;
Aacute = 16;
Adieresis = 16;
Aring = 16;
O = -9;
Oacute = -9;
Odieresis = -9;
};
Ccedilla = {
A = 14;
};
D = {
A = -50;
Aacute = -50;
Acircumflex = -50;
Adieresis = -50;
Agrave = -50;
Aring = -50;
Atilde = -50;
J = -23;
T = -37;
V = -74;
W = -75;
X = -58;
Y = -51;
};
F = {
A = -58;
Aacute = -58;
Acircumflex = -58;
Adieresis = -58;
Agrave = -58;
Aring = -58;
Atilde = -58;
J = 10;
O = -12;
Odieresis = -12;
a = -37;
aacute = -37;
adieresis = -27;
ae = -37;
aring = -37;
comma = -55;
e = -18;
eacute = -18;
i = -13;
j = 5;
o = -20;
oacute = -20;
odieresis = -20;
oe = -14;
oslash = -17;
period = -56;
u = -13;
};
G = {
A = -21;
AE = -17;
Aacute = -21;
Acircumflex = -21;
Adieresis = -21;
Agrave = -21;
Aring = -21;
Atilde = -21;
T = -20;
V = -48;
W = -49;
Y = -25;
};
J = {
A = -13;
AE = -9;
Adieresis = -13;
Aring = -13;
};
K = {
C = -68;
G = -74;
O = -65;
OE = -74;
Oacute = -65;
Odieresis = -65;
a = 9;
adieresis = 9;
ae = 8;
aring = 9;
e = -14;
hyphen = -55;
o = -30;
oacute = -30;
odieresis = -30;
u = -6;
udieresis = -6;
y = -86;
};
L = {
A = 19;
AE = 23;
Aacute = 19;
Adieresis = 19;
Aring = 19;
C = -44;
Ccedilla = -47;
G = -49;
O = -39;
Oacute = -39;
Ocircumflex = -39;
Odieresis = -39;
Ograve = -39;
Otilde = -39;
S = -10;
T = -72;
U = -39;
Udieresis = -39;
V = -118;
W = -118;
Y = -62;
hyphen = 1;
quotedblright = -112;
quoteright = -110;
u = -10;
udieresis = -10;
y = -34;
};
N = {
A = 13;
AE = 16;
Aacute = 13;
Adieresis = 13;
Aring = 13;
C = -17;
Ccedilla = -17;
G = -23;
O = -13;
Oacute = -13;
Odieresis = -13;
a = -14;
aacute = -14;
adieresis = -14;
ae = -14;
aring = -14;
comma = -3;
e = -6;
eacute = -6;
o = -9;
oacute = -9;
odieresis = -9;
oslash = 1;
u = -16;
udieresis = -16;
};
O = {
A = -35;
AE = -32;
Aacute = -35;
Adieresis = -35;
Aring = -35;
T = -46;
V = -71;
W = -76;
X = -51;
Y = -57;
};
Oacute = {
A = -35;
T = -46;
V = -71;
W = -76;
Y = -57;
};
Ocircumflex = {
T = -46;
V = -71;
Y = -57;
};
Odieresis = {
A = -35;
T = -46;
V = -71;
W = -76;
X = -51;
Y = -57;
};
Ograve = {
T = -46;
V = -71;
Y = -57;
};
Oslash = {
A = -37;
};
Otilde = {
T = -46;
V = -71;
Y = -57;
};
P = {
A = -78;
AE = -87;
Aacute = -78;
Adieresis = -78;
Aring = -78;
J = -35;
a = -64;
aacute = -64;
adieresis = -53;
ae = -64;
aring = -64;
comma = -95;
e = -27;
eacute = -27;
hyphen = -37;
o = -27;
oacute = -27;
odieresis = -27;
oe = -22;
oslash = -25;
period = -89;
};
R = {
C = -62;
Ccedilla = -62;
G = -67;
O = -58;
OE = -66;
Oacute = -58;
Odieresis = -58;
T = -55;
U = -68;
Udieresis = -68;
V = -86;
W = -86;
Y = -53;
a = 4;
aacute = 4;
adieresis = 4;
ae = 4;
aring = 4;
e = -16;
eacute = -16;
hyphen = -56;
o = -32;
oacute = -32;
odieresis = -32;
oe = -27;
u = -12;
uacute = -13;
udieresis = -12;
y = -72;
};
S = {
A = 6;
AE = 10;
Aacute = 6;
Adieresis = 6;
Aring = 6;
T = -10;
V = -22;
W = -22;
Y = 1;
t = -12;
};
T = {
A = -37;
AE = -33;
Aacute = -37;
Acircumflex = -37;
Adieresis = -37;
Agrave = -37;
Aring = -37;
Atilde = -37;
C = -7;
G = -12;
J = 24;
O = -2;
OE = -14;
Oacute = -2;
Ocircumflex = -2;
Odieresis = -2;
Ograve = -2;
Oslash = -1;
Otilde = -2;
S = 13;
V = 24;
W = 25;
Y = 52;
a = -63;
ae = -63;
c = -75;
colon = -37;
comma = -67;
e = -71;
g = -74;
guillemotleft = -89;
guilsinglleft = -109;
hyphen = -61;
i = -1;
j = 6;
o = -73;
oslash = -53;
period = -61;
r = -83;
s = -62;
semicolon = -37;
u = -79;
v = -85;
w = -86;
y = -79;
};
U = {
A = -56;
AE = -53;
Aacute = -56;
Acircumflex = -56;
Adieresis = -56;
Aring = -56;
Atilde = -56;
comma = -27;
m = -24;
n = -28;
p = -14;
period = -24;
r = -21;
};
Uacute = {
A = -56;
comma = -27;
m = -24;
n = -28;
p = -14;
period = -24;
r = -21;
};
Ucircumflex = {
A = -56;
};
Udieresis = {
A = -56;
b = -29;
comma = -27;
m = -24;
n = -28;
p = -14;
period = -24;
r = -21;
};
Ugrave = {
A = -56;
};
V = {
A = -76;
AE = -95;
Aacute = -76;
Acircumflex = -76;
Adieresis = -76;
Agrave = -76;
Aring = -76;
Atilde = -76;
C = -34;
G = -37;
O = -29;
Oacute = -29;
Ocircumflex = -29;
Odieresis = -29;
Ograve = -29;
Oslash = -28;
Otilde = -29;
S = 2;
T = 40;
a = -62;
ae = -62;
colon = -20;
comma = -71;
e = -49;
g = -43;
guillemotleft = -67;
guilsinglleft = -80;
hyphen = -40;
i = 7;
o = -57;
oslash = -49;
period = -70;
r = -37;
semicolon = -20;
u = -48;
y = -31;
};
W = {
A = -70;
AE = -74;
Aacute = -70;
Acircumflex = -70;
Adieresis = -70;
Agrave = -70;
Aring = -70;
Atilde = -70;
C = -30;
G = -32;
O = -27;
Oacute = -27;
Ocircumflex = -27;
Odieresis = -27;
Ograve = -27;
Oslash = -17;
Otilde = -27;
S = 2;
T = 40;
a = -50;
ae = -51;
colon = -8;
comma = -58;
e = -39;
g = -35;
guillemotleft = -56;
guilsinglleft = -69;
hyphen = -24;
i = 6;
o = -46;
oslash = -37;
period = -52;
r = -29;
semicolon = -7;
u = -39;
y = -23;
};
X = {
C = -63;
O = -60;
Odieresis = -60;
Q = -61;
a = 5;
e = -18;
hyphen = -56;
o = -34;
u = -10;
y = -86;
};
Y = {
A = -75;
AE = -72;
Aacute = -75;
Acircumflex = -75;
Adieresis = -75;
Agrave = -75;
Aring = -75;
Atilde = -75;
C = -45;
G = -52;
O = -39;
Oacute = -39;
Ocircumflex = -39;
Odieresis = -39;
Ograve = -39;
Oslash = -38;
Otilde = -39;
S = -7;
T = 34;
a = -101;
ae = -102;
colon = -66;
comma = -104;
e = -99;
g = -106;
guillemotleft = -125;
guilsinglleft = -138;
hyphen = -102;
i = 1;
o = -107;
oslash = -91;
p = -101;
period = -102;
semicolon = -67;
u = -111;
v = -98;
};
Z = {
v = -29;
y = -29;
};
a = {
j = -2;
quoteright = -20;
v = -20;
w = -15;
y = -15;
};
aacute = {
v = -20;
w = -18;
y = -15;
};
adieresis = {
v = -19;
w = -18;
y = -15;
};
ae = {
v = 19;
w = 19;
y = 25;
};
agrave = {
v = -20;
w = -15;
y = -15;
};
aring = {
v = -20;
w = -18;
y = -15;
};
b = {
v = 26;
w = 26;
y = 34;
};
c = {
h = -6;
k = -9;
};
comma = {
quotedblright = -16;
quoteright = -13;
};
e = {
quoteright = 11;
t = 5;
v = 18;
w = 18;
x = 19;
y = 24;
};
eacute = {
v = 18;
w = 18;
y = 24;
};
ecircumflex = {
v = 18;
w = 18;
y = 24;
};
f = {
a = -30;
aacute = -30;
adieresis = -30;
ae = -31;
aring = 3;
e = -14;
eacute = -14;
f = 27;
i = 37;
j = 45;
l = 49;
o = -14;
oacute = -14;
odieresis = -14;
oe = -10;
oslash = -13;
quoteright = 18;
s = 3;
t = 19;
};
g = {
a = -22;
adieresis = -22;
ae = -23;
aring = -22;
e = -11;
eacute = -11;
l = -19;
oacute = -14;
odieresis = -14;
r = 10;
};
guillemotright = {
A = -44;
AE = -67;
Aacute = -44;
Adieresis = -44;
Aring = -44;
T = -113;
V = -114;
W = -115;
Y = -102;
};
guilsinglright = {
A = -53;
AE = -72;
Aacute = -53;
Adieresis = -53;
Aring = -53;
T = -123;
V = -119;
W = -119;
Y = -107;
};
h = {
quoteright = -1;
y = 18;
};
hyphen = {
A = -15;
AE = -36;
Aacute = -15;
Adieresis = -15;
Aring = -15;
T = -85;
V = -80;
W = -85;
Y = -74;
};
i = {
T = -32;
};
k = {
a = 20;
aacute = 20;
adieresis = 20;
ae = 19;
aring = 20;
comma = 11;
e = 7;
eacute = 7;
g = -1;
hyphen = -14;
o = -2;
oacute = -2;
odieresis = -2;
period = 15;
s = 17;
u = -2;
udieresis = -2;
};
l = {
v = -29;
y = -26;
};
m = {
p = -8;
v = -18;
w = -18;
y = -13;
};
n = {
T = -94;
p = -5;
quoteright = -19;
v = -15;
w = -15;
y = -10;
};
o = {
T = -98;
quoteright = -10;
t = -13;
v = 3;
w = 1;
x = -6;
y = 13;
};
oacute = {
v = 3;
w = 1;
y = 13;
};
ocircumflex = {
t = -13;
};
odieresis = {
t = -13;
v = 3;
w = 1;
x = -6;
y = 13;
};
ograve = {
v = 3;
w = 1;
y = 13;
};
p = {
t = -9;
y = 23;
};
period = {
quotedblright = -34;
quoteright = -32;
};
q = {
c = 2;
u = -2;
};
quotedblbase = {
A = 19;
AE = 22;
T = -72;
V = -110;
W = -111;
Y = -61;
};
quotedblleft = {
A = -46;
AE = -95;
Aacute = -46;
Adieresis = -46;
Aring = -46;
T = 20;
V = 11;
W = 10;
Y = 34;
};
quotedblright = {
A = -66;
AE = -111;
Aacute = -66;
Adieresis = -66;
Aring = -66;
T = 13;
V = 1;
Y = 27;
};
quoteleft = {
A = -54;
AE = -106;
Aacute = -54;
Adieresis = -54;
Aring = -54;
T = 17;
V = 10;
W = 9;
Y = 36;
};
quoteright = {
A = -73;
AE = -118;
Aacute = -73;
Adieresis = -73;
Aring = -73;
comma = -37;
d = -14;
o = -10;
period = -35;
r = 3;
s = 1;
t = -3;
v = 15;
w = 17;
y = 23;
};
r = {
a = -49;
aacute = -49;
acircumflex = -49;
adieresis = -49;
ae = -49;
agrave = -49;
aring = -49;
c = -11;
ccedilla = -13;
colon = -7;
comma = -67;
d = -13;
e = -7;
eacute = -7;
ecircumflex = -7;
egrave = -7;
f = 26;
g = 13;
h = -8;
hyphen = -43;
i = 10;
j = 27;
k = -6;
l = -10;
m = 15;
n = 13;
o = -7;
oacute = -7;
ocircumflex = -7;
odieresis = -7;
oe = -2;
ograve = -7;
oslash = -5;
p = 19;
period = -64;
q = -27;
quoteright = 2;
r = 19;
s = 8;
semicolon = -11;
t = 17;
u = 8;
v = 18;
w = 20;
x = 25;
y = 24;
z = 15;
};
s = {
quoteright = -10;
};
t = {
a = 22;
aacute = 22;
adieresis = 22;
ae = 22;
aring = 22;
colon = 25;
e = 11;
eacute = 11;
h = 9;
o = 1;
oacute = 1;
odieresis = 1;
quoteright = -12;
semicolon = 21;
};
u = {
quoteright = -21;
};
v = {
a = -5;
aacute = -5;
acircumflex = -5;
adieresis = -5;
ae = -5;
agrave = -5;
aring = -5;
atilde = -5;
c = 5;
colon = 27;
comma = -18;
e = 9;
eacute = 9;
ecircumflex = 9;
egrave = 9;
g = 9;
hyphen = 19;
l = -1;
o = 4;
oacute = 4;
odieresis = 4;
ograve = 4;
oslash = 7;
period = -15;
s = 3;
semicolon = 28;
};
w = {
a = -7;
aacute = -7;
acircumflex = -7;
adieresis = -7;
ae = -7;
agrave = -7;
aring = -7;
atilde = -7;
colon = 25;
comma = -24;
e = 4;
eacute = 4;
ecircumflex = 4;
egrave = 4;
g = 6;
hyphen = 15;
l = -3;
oslash = 5;
period = -21;
semicolon = 26;
};
x = {
a = 21;
c = 8;
e = 11;
eacute = 11;
o = 2;
q = 18;
};
y = {
a = -10;
aacute = -10;
acircumflex = -10;
adieresis = -10;
ae = -10;
agrave = -10;
aring = -10;
atilde = -10;
c = -2;
colon = 22;
comma = -19;
g = -1;
hyphen = 9;
l = -6;
o = -3;
oacute = -3;
odieresis = -3;
ograve = -3;
oslash = 2;
period = -12;
s = -7;
semicolon = 23;
};
};
};
metrics = (
{
type = "italic angle";
},
{
type = ascender;
},
{
type = descender;
},
{
type = "x-height";
},
{
type = "cap height";
},
{
type = baseline;
},
{
name = m0;
},
{
name = m1;
},
{
name = m2;
},
{
name = m3;
}
);
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright 2000 by (URW)++ Design & Development";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = "URW++ Design and Development";
}
);
},
{
key = licenses;
values = (
{
language = dflt;
value = "Aladdin Free Public License";
}
);
},
{
key = licenseURL;
value = "https://spdx.org/licenses/Aladdin.html";
},
{
key = manufacturers;
values = (
{
language = dflt;
value = "Jens Kutilek";
}
);
},
{
key = vendorID;
value = JENS;
}
);
settings = {
disablesAutomaticAlignment = 1;
disablesNiceNames = 1;
};
unitsPerEm = 1000;
versionMajor = 2;
versionMinor = 0;
}
